body{
    background-image: url(../imagenes/fondoPizza.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    background-possition: center;
    background-color:#FAFAD2;
    color:white
}

.title{
   position:fixed;
   width:10%;
   height:20%;
   border-radius:5px;
}
 .box{
    position:fixed;
    width:75%;
    max-width:75%;
    height:20%;
    max-height:20%;
    margin: 1% 1%;
    background:rgba(0,0,0,0.5);
    border-radius:3%;
}

.TitleData{
    position:absolute;
    left:13%;
    width:30%;
    max-width:30%;
    height:70%;
    max-height:70%;
    color:white;
    font-size:20px;
    line-height:25%;
    margin:2%;
}

.MainData{
    position:absolute;
    left:45%;
    width:50%;
    max-width:50%;
    height:70%;
    max-height:70%;
    color:white;
    font-size:20px;
    line-height:25%;
    margin:2%;
}

.CajaPedido{
   position:fixed;
   width:75%;
   max-width:75%;
   height:60%;
   max-height:60%;
   margin: 12% 1%;
   background:rgba(0,0,0,0.5);
   border-radius:3%;
   overflow-y: scroll;
}

.Cajitas{
    float:left;
    left:5%;
    background:rgba(0,0,0,0.5);
    width:25%;
    max-width:25%;
    height:35%;
    max-height:35%;
    color:white;
    font-size:15px;
    line-height:5%;
    border-radius:5%;
    margin:2% 4%;
}

.ImgOption{
    position:relative;
       width:60%;
       height:170px;
       border-radius:50%;
       margin: auto;
       display:block;
}

.carrito{
    position:fixed;
    width:20%;
    max=width:20%;
    height:50%;
    max-height:50%;
    margin: 1% 78%;
    background:rgba(0,0,0,0.5);
    border-radius:3%;
    border: 2px solid white;
    padding:10px 10px;
}

.MiPedido{
    position:relative;
    background:rgba(0,0,0,0.5);
    width:98%;
    max-width:98%;
    height:69%;
    max-height:69%;
    color:white;
    font-size:15px;
    line-height:5%;
    border-radius:5%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btn-borrar{
    float:right;
    background-color: #c61114;
    color: white;
    padding: 1% 1%;
    margin: 1% 1%;
    border: none;
    cursor: pointer;
    width: 10%;
}
.Total{
   position:relative;
   left:1%;
   color:white;
}

.titulo{
   color:white;
}

h1, h2{
    text-align:center;
}

.price{
    position:relative;
    left:80%;
    padding:4% 4%;
}

.spancito{

    position:relative;
    left:65%;
    relative:right;
    padding:0 1%;
}

.opciones{
    padding:5%;
}
.data{

    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
    padding:7% 7%;
}

.submit {
    background-color: #c61114;
    color: white;
    padding: 4% 2%;
    margin: 9% 10%;
    border: none;
    cursor: pointer;
    width: 80%;
}

/* Add a hover effect for buttons */
.submit:hover, .btn-borrar:hover {
    opacity: 0.8;
}

.Op{
    color:white;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 6%;
}

.btn-pagar{
    background-color: #c61114; /* Red */
    border: none;
    color: white;
    padding: 0.2% 0.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    float: right;
}

.btn-pagar:hover{
    opacity: 0.5;
    text-decoration: none;
    color: white;
}

.MiPedido::-webkit-scrollbar-track, .CajaPedido::-webkit-scrollbar-track
{
	border: 1px solid black;
    background-color: #F5F5F5;
}

.MiPedido::-webkit-scrollbar, .CajaPedido::-webkit-scrollbar
{
	width: 10px;
    background-color: #F5F5F5;
}

.MiPedido::-webkit-scrollbar-thumb, .CajaPedido::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/* Navbar container */
.navbar {
  position:relative;
  margin: 0;
  padding: 0;
  right:0.6%;
  width:101.1%;
  bottom:8px;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a.btn {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  min-width: 160px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a.btn:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a.btn {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a.btn:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  position:fixed;
  display: block;
}

.navbartitle {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.navbartitle:hover{
   color: #f2f2f2;
   text-align: center;
   text-decoration: none;
}

/*fin navbar */

.button{
position:absolute;
top:82%;
left:83%;
    background-color: #c61114; /* Red */
    margin:2% 2%;
    border: none;
    color: white;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius:5%;
}

.button:hover{
   opacity: 0.8;
}
