<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Options</title>
    <link href="../static/css/listasView.css" th:href="@{/css/listasView.css}" rel="stylesheet" />
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

<h1 th:text="${MiEmpresa.nombre}"></h1>
<div class="container">
    <div>
        <table class="table table-striped">
            <caption><h1>Lista de Opciones</h1></caption>
            <tr class="cabecera">
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th colspan="2">Opciones</th>
            </tr>
            <tr class="datos" th:each="option : ${MiEmpresa.Options}">
                <td th:text="${option.id}">Id</td>
                <td th:text="${option.name}">Name</td>
                <td th:text="${option.price}">Price</td>
                <td><img class="info" th:src="${option.image}" alt="Imagen no establecida" width="50" height="50" /></td>
                <td><a class="btn" th:href="${ '/admin/option/eliminar/' + option.id}">Eliminar</a></td>
                <td><a class="btn" th:href="${ '/admin/option/editar/' + option.id}">Editar</a></td>
            </tr>
        </table>
    </div>
</div>
<a class="btnl" href="/admin/empresas">Atras</a>
<a class="btnr" th:href="${'/admin/option/new/' + MiEmpresa.idEmpresa}">Nueva opcion</a>
</body>
</html>